<div class="container">

    <div class="jumbotron">

        <h1>Login </h1>

    </div>

</div>

<div class=" container loginClass">

    <p class="x">Enter Details</p>

    <p>

        <p class="y">Name :

            <input type="text" ng-model="name" placeholder="Username">
        </p>

        <p class="z">Password :

            <input type="password" ng-model="password" placeholder="Password">
        </p>

        <p class="w">

            <a href="#benefits">

                <input type="submit" value="Sign in" ng-click="onSubmit()">

            </a>

        </p>

    </p>
    <h2>{{myWelcome}}</h2>
</div>